
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* -----VARIABLES--- */
:root {
    --humo :#e0dddf;
    --negro :#000;
    --gris : #0000008c;
    --rojo : #e31754;
}

/* -------STYLE DE MAIN -------*/

body {
    color: var(--gris);
    background-color: #E0DDDF;
    font-family: 'PT Sans', sans-serif;
}

.logo {
    width: 70px;
}

/*--------------BARRA DE PROGRESO CSS JS-------------*/
.progress-bar{
    position: fixed;
    width: 100%;
    height: 7px;
    z-index: 10;
}
.progress{
    width: 0%;
    height: 100%;
    border-radius: 0;
    background-color: black;
}
/* -------------------HEADER------------------- */
.hero{
    position: relative;
    text-align: center;
    width: 100%;
    height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("img/estadio.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    padding: .1px;
} 

.hero__title{
    margin-top: 50px;
    text-align: center;
    color: #fff;
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 15px;
}
.bi-instagram,.bi-facebook, .bi-twitter, .bi-youtube{
    color: #fff;
    background-color: var(--negro);
    padding: 7px 10px;
    font-size: 18px;
}
.bi:hover{
    color: var(--rojo);
    font-size: 25px;
    transition: .4s;
}

/* .fa-circle{
    color: #fff;
    margin: 0 10px;
    font-size: 15px;
} */

/* -------------------FIN DEL HEADER------------------- */


/* -------------------MAIN------------------------------ */
img{
    max-width: 100%;
    object-fit: cover;
    transition: .3s;
}
.image-container:hover img{
    transform: scale(1.2);
}
.columna{
    padding: 15px 30px;
}
.main__subtitle{
    font-weight: bold;
    color: var(--rojo);
    text-align: center;
}
.main__paragraph{
    text-align: justify;
    line-height: 2;
}

span{
    color: var(--negro);
    font-weight: 400;
}
/*-------------------- FIN DE MAIN----------------------- */

/* -----------------FOOTER---------------- */


/* -------------------RESPOSIVE DEL MAIN----------------- */
@media (min-width: 768px) {
    .hero__title{
        font-size: 50px;
    }
    .fa-circle{
        font-size: 21px;
    }
}