@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/estadio.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    padding: .1px;
}   
.hero__wave{
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url(img/wave.svg);
    height: 200px;
    width: 100%;
}
.hero__title{
    margin-top: 40px;
    /* text-align: center; */
    color: #fff;
    font-size: 50px;
    font-weight: bold;
}
.fa-circle{
    color: #fff;
    margin-left: 30px;
    font-size: 20px;
}